@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap);
.courses-body{margin:0;
  background-color: #020202;
  height: 100%;
  min-height: 100vh;
    padding:0;
    box-sizing:border-box;
    font-family:'Plus Jakarta Sans',sans-serif;
    transition:.6s}
    
    .courses-body{
        --bg-color1:rgb(10, 10, 10);
        --bg-color2:#13183f;
        --bg-color3:#000000;
        --bg-main:transparent;
        --card-color:#0a0b18;
        --footer-color:#0a0b18;
        --dark-blue:#3045e4;
        --orange:#FF6F48;
        --pink:#F02AA6;
        --gray:#ffffff80;
        --white:#fff;
        --light-gray:#F0F1FF;
        --light-pink:#F74780;
        --p:#83869A;--card-shadow:0px 25px 50px #06168d0b;
        --violeta:#4851FF;--hover-navButton:#666CA3;
        --icon-filter:invert(100%) sepia(0%) saturate(7385%) hue-rotate(169deg) brightness(121%) contrast(91%);
        --icon-hover:invert(90%) sepia(4%) saturate(3243%) hue-rotate(21deg) brightness(95%) contrast(105%);
        --a-hover:#f7a7c3;
        --logo-hover:invert(48%) sepia(72%) saturate(456%) hue-rotate(192deg) brightness(90%) contrast(83%)}
        .light-theme{
            --bg-color1:rgb(228, 222, 253);--bg-color2:#fff;--bg-color3:#fff;--bg-main:linear-gradient(180deg, transparent 0%, var(--light-gray) 100%);--card-color:#fff;--footer-color:#13183f;--dark-blue:#13183f;--p:#83869A;--main-bg:linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);--icon-filter:invert(0%) sepia(82%) saturate(5821%) hue-rotate(335deg) brightness(79%) contrast(111%);--icon-hover:invert(40%) sepia(85%) saturate(1918%) hue-rotate(217deg) brightness(100%) contrast(101%);--logo-hover:invert(69%) sepia(87%) saturate(6557%) hue-rotate(261deg) brightness(100%) contrast(82%)}body{font-size:18px;position:relative;z-index:1;background:var(--bg-color1);transition:background 1s}body::before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:linear-gradient(to bottom,transparent,var(--bg-color2));z-index:-1}body:hover{background:var(--bg-color3)}.container{max-width:1110px;margin:0 auto}nav{position:absolute;width:100%;z-index:1}nav .container{position:relative;display:flex;align-items:center;padding:2rem 1rem;justify-content:space-between}#logoNav:hover{filter:var(--logo-hover)}#changeModeButton{background-color:transparent;margin-right:40px;width:30px}.buttonNav{display:flex}#icon{margin-right:40px;width:30px;cursor:pointer;filter:var(--icon-filter)}#icon:hover{filter:var(--icon-hover)}.buttonNav>button,.footerContent button,.headerText>button{width:160px;height:60px;background-color:var(--dark-blue);color:var(--white);cursor:pointer;font-size:18px;font-weight:700;border:none;border-radius:31.5px}.buttonNav>button:hover{background:var(--hover-navButton)}header{position:relative}.hero{overflow:hidden}header .container{padding:16rem 1rem 16rem 1rem;display:flex;position:relative}.headerText{width:457px;height:359px;display:flex;flex-direction:column;justify-content:space-between}h1{color:var(--dark-blue);font-weight:800;font-size:56px;line-height:70px}p{color:var(--p);line-height:28px;font-weight:500}.headerText>button{background:linear-gradient(180deg,var(--orange) 0,var(--pink) 100%)}.headerText>button:hover{background:linear-gradient(0deg,var(--gray),var(--gray)),linear-gradient(180deg,var(--orange) 0,var(--pink) 100%)}.images{overflow:hidden;position:absolute;z-index:-1;left:calc(50% + 40px);top:-144px}.images img{position:relative}main{padding:0 2rem 140px 2rem;display:flex;align-items:center;justify-content:center;background:var(--bg-main)}.gridItems{max-width:1440px;display:grid;grid-template-columns:repeat(3,350px);gap:80px 20px}.Introduction{width:350px;height:322px;background:linear-gradient(180deg,var(--orange) .04%,var(--pink) 100%);border-radius:15px;padding:4rem 2rem}.Introduction:hover{background:linear-gradient(180deg,var(--violeta) 0,var(--pink) 99.92%)}.Introduction:hover~.card img{transform:rotate(360deg) scale(1.05);filter:hue-rotate(-80deg)}.card img:hover{filter:hue-rotate(-60deg);transform:rotate(360deg)}.Introduction h2{font-size:32px;font-weight:800;line-height:40px;color:var(--white);letter-spacing:0}.course-card{position:relative;display:flex;flex-direction:column;justify-content:space-around;padding:50px 30px;height:322px;background-color:var(--card-color);box-shadow:var(--card-shadow);border-radius:15px}.course-card img{width:56px;height:56px;position:absolute;top:-30px}.course-card h3{font-weight:800;font-size:24px;line-height:30px;color:var(--dark-blue)}.course-card p{color:var(--p);font-weight:500;font-size:18px;line-height:28px}.course-card a{font-weight:700;font-size:18px;line-height:28px;color:var(--light-pink);text-decoration:none}.course-card a:hover{color:var(--a-hover)}.footerContent{max-width:1110px;margin:0 auto;display:flex;align-items:center;justify-content:space-between;padding:2rem 1rem}footer{width:100%;background-color:var(--footer-color)}.footerContent button{background:linear-gradient(180deg,var(--violeta) 0,var(--pink) 99.92%)}.footerContent button:hover{background:linear-gradient(0deg,var(--gray),var(--gray)),linear-gradient(180deg,var(--violeta) 0,var(--pink) 100%)}@media (max-width:1240px) and (min-width:1024px){.gridItems{grid-template-columns:repeat(2,350px)}.images{left:calc(45%);top:-144px}}@media (max-width:1024px) and (min-width:780px){.gridItems{grid-template-columns:repeat(2,350px)}.images{left:calc(50%);top:0}h1{font-size:42px}header .container{padding:16rem 4rem 16rem 4rem}.headerText{width:400px}nav .container{padding:2rem 4rem}.footerContent{padding:2rem 4rem}}@media (max-width:780px){#logoNav,.logoFooter{width:28%}nav .container{position:relative;display:flex;align-items:center;padding:1rem;justify-content:space-between}.buttonNav{display:flex}#changeModeButton{margin-right:10px}#icon{margin-right:0;width:30px}.buttonNav>button,.footerContent button,.headerText>button{width:110px;height:45px;font-size:16px;font-weight:700;border:none;border-radius:31.5px}.hero{overflow:hidden}header .container{padding:7rem 1rem 0 1rem;display:flex;gap:20px;flex-direction:column;align-items:center;position:relative}.headerText{width:457px;height:359px;display:flex;flex-direction:column;justify-content:space-between}h1{font-size:40px;line-height:50px}p{font-weight:500;font-size:16px;line-height:26px}.headerText>button{width:167px;height:56px}.images{position:relative;overflow:hidden;z-index:-1;left:0;top:0}.images img{width:100%}.headerText{width:100%;height:auto;flex-direction:column;gap:20px;justify-content:space-between}main{padding:0 1rem 140px 1rem;display:flex;align-items:center;justify-content:center}.gridItems{display:flex;align-items:center;flex-direction:column;justify-content:center;width:100%;padding:inherit 1rem;gap:80px 0}.Introduction{width:100%;height:100%;padding:2rem}.footerContent{padding:1rem}}
.gridItems{
    margin-top: 70PX;
    margin-left: 15%;
}
.course-card:hover{
    border-radius: 30px;
    width: 350px;
    height: 350px;
}
.jsimg{
    width: 100px !important;
}
.button1{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--light-pink);
    background-color: #000000;
    text-decoration: none;
}
.button2{
    
    font-weight: 800;
    
    color: var(--white);
    background: linear-gradient(180deg,var(--orange) .04%,var(--pink) 100%);
    border-radius: 15px;
    position: fixed;
    top: 10;
    left: 100;
   
}
.center{
  padding: auto;
  text-align: center;

}
.right-side{
  width: 400px;
}
.dropdown {
  width: 400px;
    position: relative;
    display: inline-block;
    padding: 5px;
    /* background-image: linear-gradient( to bottom, #3045e4,#FF6F48,#F02AA6); */
    border-radius: 5px;
    background-color: #000000;
    border: 1px #ffffff solid;
    
    margin: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    margin: 10px;
    background-color: transparent;
  }
  .dropdown-content input{
    width: 300px;
    height: 30px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
    /* background-image: linear-gradient( 120deg, #3045e4,#FF6F48,#F02AA6); */
    color: #000000;
    font-weight: bold;
  }

  .right{
    position: absolute;
    right: 200;
    text-align: right;
  }

  .dropdown-content input :placeholder-shown{
    color: #fff;
  }
  .show {
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn{
    background-color: transparent;
    border: 0;
    color: #F74780;
    font-weight: bold;
  }
  .margin-bottom{
    margin-bottom: 10px;
  }