/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   */
  .App {
    height: 100%;
    display: flex;
    justify-content: center;
    background:  #c2d8ee
  }
  
  .homepage_container {
    position: relative;
    max-width: 1200px; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index:1;
    margin: 75px;
  } 
  .homepage_container .card
{
    position: relative;
    width: 280px;
    height: 200px;
    margin: 30px;
    box-shadow:20px 20px 50px rgba(0,0,0,0.5) ;
    border-radius: 15px ;
    justify-content: center;
    display: flex;

}
.homepage_container .card .back
{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 15px;
    text-decoration: none;
    background: linear-gradient(135deg,#295b8e, #c2d8ee);
    color: rgb(0, 0, 0);
}
.homepage_container .card .back:hover
{
  box-shadow: 0 0 5px white, 0 0 25px white,0 0 50px white,0 0 100px white,0 0 200px white;
}
  
.card:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

  .card {
    height: 200px;
    width: 280px;
    margin: 30px;
    position: relative;
    box-shadow:20px 20px 50px rgba(0,0,0,0.5) ;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-radius: 15px ;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .back {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front{
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    object-fit: fill;
    background: url(./images/Newlogo_1.jpeg) no-repeat center ;
  }
  .front1{
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    object-fit: fill;
    background: url(./images/Newlogo_2.jpeg) no-repeat center ;
  }
  .front2{
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    object-fit: fill;
    background: url(./images/Newlogo_3.jpeg) no-repeat center ;
  }
  .front3{
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    object-fit: fill;
    background: url(./images/Newlogo_4.jpeg) no-repeat center ;
  }
  .front4{
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    object-fit: fill;
    background: url(./images/Newlogo_5.jpeg) no-repeat center ;
  }
  .front5{
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    object-fit: fill;
    background: url(./images/Newlogo_6.jpeg) no-repeat center ;
  }
  .front6{
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    object-fit: fill;
    background: url(./images/Newlogo_7.jpeg) no-repeat center ;
  }
  .front7{
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    object-fit: fill;
    background: url(./images/Newlogo_8.jpeg) no-repeat center ;
  }
  .front8{
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    object-fit: fill;
    background: url(./images/Newlogo_9.jpeg) no-repeat center ;
  }
  .front9{
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    object-fit: fill;
    background: url(./images/Newlogo_10.jpeg) no-repeat center ;
  }
  .front10{
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    object-fit: fill;
    background: url(./images/Newlogo_11.jpeg) no-repeat center ;
  }
  .front11{
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    object-fit: fill;
    background: url(./images/Newlogo_12.jpeg) no-repeat center ;
  }

  
  .back {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }