.forget-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin: 150px auto;
    max-width: 400px;
    height: 250px;
    padding: 30px;
  }

.forget-password-page {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
font-family: Arial, sans-serif;
}

.mobile-number-field,
.otp-field,
.new-password-field {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
}

label {
font-weight: bold;
margin-bottom: 5px;
display: block;
}

label:after { content: " " }

input {
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
margin-bottom: 10px;
}

button {
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #0069d9;
}

.password-reset-successful {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
}

@media screen and (max-width: 768px) {
    .forget-password-container {
      padding: 10px;
      
    }
  
    .forget-password-page {
      padding: 10px;
    }
  
    .forget-password-page h3 {
      font-size: 20px;
    }
  
    .mobile-number-field input,
    .otp-field input,
    .new-password-field input {
      font-size: 14px;
    }
  
    .mobile-number-field button,
    .otp-field button,
    .new-password-field button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }